body {
    padding-top: 40px;
    background-color: #293644;
}

h1 {
    font-family: 'Alegreya';
    color: #FFFFFF;
}

h2 {
    font-family: 'Alegreya';
    color: #FFFFFF;
}

.carousel .item {
    max-height: 650px;
}

.carousel .item img {
    margin: 0 auto;
}

.well {
    font-weight: bold;
}